.conartist{
    display:flex;
    justify-content: center;
}

.con{
    display:flex;
    flex-direction: column;
    border: 5px solid rgb(64, 61, 61);
    border-radius: 15px;
    height: 585px;
    width: 320px;
    background-color: rgb(39, 37, 37);
    align-items: center;
    justify-content: flex-end;
    gap:70px
}

.screen{
    border: solid 5px rgb(65, 60, 60);
    border-radius: 10px;
    height: 120px;
    width: 248px;
    display:flex;
    position: relative;
    background-color: black;
    bottom:10px;
    gap:5px;
    padding: 15px;
}

.displays{
    font-size: 22px;
    color:white;
}

#answer{
    position: absolute;
    bottom:15px;
    right:15px;
}



.buttoncon{
    height: 310px;
    width: 288px;
    display:flex;
    align-content:flex-start;
    flex-wrap:wrap;
    gap:12px;
}

.buttons{
    height:63px;
    width: 63px;
    border-radius: 100%;
    position:relative;
    background-image: linear-gradient(to bottom right, black, azure);
}

#eq{
    border:none;
    flex:1;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgb(203, 100, 203), rgb(59, 160, 194));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#eq::after{
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgb(188, 55, 188), rgb(80, 80, 211));
    z-index: -1;
}

#eq:hover{
    z-index:0;
}

#divi{
    border:none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divi::after{
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-image: linear-gradient(to bottom right, red, rgb(251, 198, 196));
    z-index: -1;
}

#divi:hover{
    z-index:0;
}

#plus{
    border:none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#plus::after{
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-image: linear-gradient(to bottom right, red, rgb(251, 198, 196));
    z-index: -1;
}

#plus:hover{
    z-index:0;
}

#multi{
    border:none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#multi::after{
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-image: linear-gradient(to bottom right, red, rgb(251, 198, 196));
    z-index: -1;
}

#multi:hover{
    z-index:0;
}

#minus{
    border:none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#minus::after{
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-image: linear-gradient(to bottom right, red, rgb(251, 198, 196));
    z-index: -1;
}

#minus:hover{
    z-index:0;
}