.conartist{
    display:flex;
    justify-content: center;
}

.con{
    display:flex;
    border: 5px solid black;
    height: 650px;
    width: 600px;
    align-items: flex-end;
}



.buttoncon{
    border: 5px solid red;
    display:flex;
    justify-content:space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
}


button{
    height:70px;
    width: 70px;
}